a {
  text-decoration: none;
  color: black;
}

/*
  Navigation
 */
body {
  background-color: #e6f2ff;
}

nav {
  display: block;
  margin-left: 5%;
  padding: 10px;
  width: 90%;
  height: 50px;
  border: 1px solid #949599;
  background-color: white;
  border-radius: 5px;
}

.header {
  margin: 0 50px;
  vertical-align: middle;
  display: inline-block;
}

.link {
  border-bottom: 1px solid black;
  text-decoration: none;
  color: black;
}

.link:hover {
  border-bottom: 3px solid #002db3;
  font-weight: bold;
}

.link:first-child {
  margin-left: 25%;
}

img {
  width: 40px;
  height: 32px;
  margin-top: 10px;
}

.search-box {
  margin: 5px 0 0 100px;
  background-color: #e6f2ff;
  border-radius: 25px;
  text-align: center;
  color: black;
}

.search-button {
  margin: 5px 0 0 0;
}

/*
  Search Box Placeholder Text Color Overwrite
 */

 ::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

/*
  Generate New Tweets Button
 */
button {
  display: inline-block;
  margin: 10px 0 10px 44%;
  border: 1px solid gray;
  border-radius: 5px;
  border-style: outset;
  background-image: linear-gradient(#f2f2f2, #b3b3b3);
  padding: 25px;
}

/*
  Custom Effects (imitation of browsers') for Generate New Tweets button
 */
.button-border {
  border: 1px solid black;
}

.button-click {
  background-image: linear-gradient(#b3b3b3, #f2f2f2);
}

/*
  Tweet Stylization
 */
.tweet:nth-child(odd){
  margin-left: 22%;
}

.tweet:nth-child(even){
  margin-left: 32%;
}

.tweet {
  display: inline-block;
  border: 1px solid #bfbfbf;
  border-radius: 5px 5px 5px 5px;
  background: white;
  padding: 15px 5px 5px 5px;
  width: 46%;
  height: 45px;
  font: 14px/1.15px arial;
  text-align: left;
}

.tweet-user, .tweet-meta {
  display: inline-block;
}

.tweet-user {
  font-weight: bold;
}

.tweet-user:hover {
  color: #0000EE;
  text-decoration: underline;
}

.tweet-meta, span a {
  color: gray;
}

.tweet-message {
  margin-top: 15px;
}